---
import Layout from "../layouts/Layout.astro"
import AboutMe from "../components/AboutMe.astro"
import Briefcase from "../components/icons/Briefcase.astro"
import CodeIcon from "../components/icons/Code.astro"
import Experience from "../components/Experience.astro"
import Projects from "../components/Projects.astro"
import Skills from "../components/Skills.astro"
import SectionContainer from "../components/SectionContainer.astro"
import Hero from "../components/Hero.astro"
import TitleSection from "../components/TitleSection.astro"
import "../styles/global.css";

import { info, skills } from '../content/data/db'
---


<Layout
  title="Porfolio de Amilcar Moncada"
  description="Portafolio profesional, ademas de ser un proyecto de la clase de Sistemas Expertos"
>
  <main class="px-4">
    <SectionContainer id="Inicio" class=" md:py-28">
      <Hero>
      </slot>
    </Hero>
    </SectionContainer>

    <SectionContainer id="sobre-mi">
    <div class="space-y-24">
      {
        info.map((card, index) => (
          <AboutMe
            title={card.title}
            text={card.text}
            icon={card.icon}
            image={card.image}
          />
        ))
      }
      </SectionContainer>
    
      <SectionContainer id="experiencia">
        <TitleSection>
          <Briefcase class="size-8" />
          Experiencia laboral
        </TitleSection>
        <Experience />
      </SectionContainer>

      <SectionContainer id="proyectos">
        <TitleSection>
          <CodeIcon class="size-7" />
          Proyectos
        </TitleSection>
        <Projects />
      </SectionContainer>

      <SectionContainer id="habilidades">
        <TitleSection>
        <CodeIcon class="size-8" />
        Habilidades
      </TitleSection>
        <Skills 
        name=""
        skills={skills}
      />

      </SectionContainer>

  </div>
  </main>
</Layout>