---
import type { Skills } from '../interfaces/Interface'

interface Props {
    name: string
    skills: Skills
}

const { name, skills } = Astro.props;
---
<section id="skills" class="mb-12">

    <h2 class="text-2xl font-bold mb-6">{name}</h2>

    <div class="grid md:grid-cols-3 gap-2">

        {Object.entries(skills).map(([c, s]) => (
            <div class="bg-card rounded-lg p-3 shadow">
                <h3 class="text-2xl font-bold mb-5">{c}</h3>
                <div class="space-y-3">
                {
                    s.skills
                    .slice() 
                    .sort((a, b) => b.level - a.level) 
                    .map((skill, index) => (
                            <div class="flex justify-between mb-1">
                                <span class="text-s text-pretty font-semibold order-2 md:order-1">{skill.name}</span>
                                <span class="text-s text-pretty">{skill.level}%</span>
                            </div>
                            <div class="w-full bg-gray-300 rounded-full h-2.5 mt-1">
                                <div class={`bg-${s.color} h-2.5 rounded-full`} style={`width: ${skill.level}%`}></div>
                            </div>
                    ))
                }
                </div>
            </div>
        ))}
    </div>
</section>